#!/usr/bin/env bash
. ./common.sh
PATH_add "$ZIGROOTBIN"
PATH_add "$CMAKE_BIN"
PATH_add "$DEVKIT/bin"
PATH_add "$ZIG_STAGE3_BIN"
PATH_add "$ZIG_STAGE4_BIN"
PATH_add "$ZLS_BIN"
# export PATH="$ZLS_BIN:$ZIG_STAGE4_BIN:$ZIG_STAGE3_BIN:$DEVKIT/bin:$CMAKE_BIN:$ZIGROOTBIN:$PATH"

#BASH_ALIASES[build4]="$ZIG_STAGE3_EXE build -p $ZIG_STAGE4 -Denable-llvm -Dno-lib -fincremental  --webui=127.0.0.1:9001"
#BASH_ALIASES[watch4]="$ZIG_STAGE3_EXE build -p $ZIG_STAGE4 -Denable-llvm -Dno-lib -fincremental  --watch"
#export_aliases

alias_set web4 "$ZIG_STAGE3_EXE build -p $ZIG_STAGE4_PREFIX -Denable-llvm -Dno-lib -fincremental  --webui=127.0.0.1:9001"
alias_set build4 "$ZIG_STAGE3_EXE build -p $ZIG_STAGE4_PREFIX -Denable-llvm -Dno-lib"
alias_set watch4 "$ZIG_STAGE3_EXE build -p $ZIG_STAGE4_PREFIX -Denable-llvm -Dno-lib -fincremental  --watch"
